<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Connect Four</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/offline.css">
        <script src="js/offline.js" charset="utf-8"></script>
    </head>
    <body>
        <h1>Yonah's Connect Four Website!</h1>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/offline">Play Offline</a></li>
                <li><a href="/online">Play Online</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="game" id="game"></div> 
        </div>
        <script>renderBoard();</script>
    </body>
</html>