body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameAndChat {
    padding-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8%;
}

h1 {
    color: #333;
    font-family: Helvetica;
    font-weight: 900;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}

h3 {
    color: #333;
    font-family: Helvetica;
    font-weight: 900;
    text-align: center;
    padding-top: 4%;
    margin: 0; 
}

.nav ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
    display: inline-block;
    padding-top: 2%;
}

.nav a {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    width: 75px;
    display: block;
    padding: 12px;
    font-size: 14px;
    font-family: Helvetica;
}

.nav a:hover {
    background: #000;
    transition: 0.4s;
}

.game {
    border: 1px solid;
    height: 310px;
    width: 364px;
    display: flex;
    flex-wrap: wrap;
}

.game .square {
    border: 1px solid;
    width: 50px;
    height: 50px;
}

.game .black {
    width: 52px;
    height: 52px;
    background-color: black;
    border-radius: 50%;
}

.game .red {
    width: 52px;
    height: 52px;
    background-color: red;
    border-radius: 50%; 
}

button {
    color: #fff;
    background-color: #333;
    width: 100px;
    font-size: 14px;
    font-family: Helvetica;
    border: none;
}

button:hover {
    background-color: black;
    transition: 0.4s;
}

.vert {
    display: flex;
    flex-direction: column;
}

.horiz {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

h5 {
    font-family: Helvetica;
    color: crimson;
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.chat h3, .vert h3 {
    font-family: Helvetica;
    text-align: center;
    font-weight: 900;
    padding-bottom: 2%;
}

.box {
    width: 364px;
    height: 310px;
    border: 2px solid;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.box .message {
    font-family: Helvetica;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Helvetica;
    padding-top: 2%;
    gap: 10px;
}