body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    font-family: Helvetica;
    font-weight: 900;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}

h3 {
    color: #333;
    font-family: Helvetica;
    font-weight: 900;
    text-align: center;
    padding-top: 4%;
    margin: 0; 
}

h4 {
    font-family: Helvetica;
    color: #333;
    font-weight: 900;
    text-align: center;
}

.nav ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
    display: inline-block;
    padding-top: 2%;
}

.nav a {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    width: 75px;
    display: block;
    padding: 12px;
    font-size: 14px;
    font-family: Helvetica;
}

.nav a:hover {
    background: #000;
    transition: 0.4s;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Helvetica;
    padding-top: 2%;
    gap: 10px;
}

.vert {
    display: flex;
    flex-direction: column;
}

button {
    color: #fff;
    background-color: #333;
    width: 100px;
    font-size: 14px;
    font-family: Helvetica;
    border: none;
}

button:hover {
    background-color: black;
    transition: 0.4s;
}

.chat {
    width: 400px;
    height: 300px;
    border: 2px solid;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat .message {
    font-family: Helvetica;
}

.noRoom {
    font-family: Helvetica;
    color: crimson;
    text-align: center;
    font-weight: 900;
    margin: 0;
}
