body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    font-family: Helvetica;
    font-weight: 900;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}

h3 {
    color: #333;
    font-family: Helvetica;
    font-weight: 900;
    text-align: center;
    padding-top: 4%;
    margin: 0; 
}

.nav ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
    display: inline-block;
    padding-top: 2%;
}

.nav a {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    width: 75px;
    display: block;
    padding: 12px;
    font-size: 14px;
    font-family: Helvetica;
}

.nav a:hover {
    background: #000;
    transition: 0.4s;
}

.game {
    border: 1px solid;
    height: 310px;
    width: 364px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.game .square {
    border: 1px solid;
    width: 50px;
    height: 50px;
}

.game .black {
    width: 52px;
    height: 52px;
    background-color: black;
    border-radius: 50%;
}

.game .red {
    width: 52px;
    height: 52px;
    background-color: red;
    border-radius: 50%; 
}