<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Connect Four</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/online-game.css">
    </head>
    <body>
        <h1>Yonah's Connect Four Website!</h1>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/offline">Play Offline</a></li>
                <li><a href="/online">Play Online</a></li>
            </ul>
        </div>
    </body>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script src="js/online-game.js" charset="utf-8"></script>
</html>